    {{- with .Site.Params.applications }}
    <section class="applications section" id="application">
      <div class="container">
        <div class="row">
          <div class="heading">
            <h2>{{ .title }}</h2>
          </div>
          <h3>{{ .text }}</h3>
        </div>
        <div class="row mt-100">
        {{- $basePath := relURL .directory }}
        {{- range .images }}
              
                <img class="img-fluid" src="{{ $basePath  }}/{{ . }}" alt="" width='500px'>
             
        {{- end }}
        </div>
      </div>
    </section><!-- #applications close -->
    {{- end }}
